html, body {
    margin: 0;
    padding: 0;
    /* background-color: #0F0F0F; */
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(224,86,253,1) 100%);
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
} 

.nonselectable {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.audio-player {
    background-color: #0F0F0F;
    position: absolute;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
    bottom: 0px;
    min-width: 560px;
}

.progress-bar {
    width: 100%;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progress-done-container { 
    background-color: rgba(146, 146, 146, 0.644);
    width: 100%;
    height: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.progress-done {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 5px;
    transform-origin: top left;
    transform: scaleX(0);
}

.progress-slider-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    gap: 10px;
}

.playback-progress {
    width: 40%;
    max-width: 722px;
}

.progress-time {
    min-width: 40px;
    font-size: 13px;
    text-align: right;
}

.progress-duration {
    min-width: 40px;
    font-size: 13px;
    text-align: left;
}

.progress-done-button-container {
    position: absolute;
    z-index: 2;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    transform: translateX(-6px);
}

.progress-done-button {
    background-color: rgb(255, 0, 0);
    height: 12px;
    width: 12px;
    border-radius: 12px;
    transform: scale(0);
    transition: 0.1s ease;
}

.volume-slider {
    appearance: none;
    -webkit-appearance: none;
    width: 150px;
    height: 5px;
    background: rgba(146, 146, 146, 0.644);
    border-radius: 5px;
    background-image: linear-gradient(#ff0000, #ff0000);
    background-size: 70% 100%;
    background-repeat: no-repeat;
}
  
.volume-slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background: #ff0000;
    transition: background 0.3s ease;
}
  
.volume-slider::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    background: transparent;
}

.progress-bar:hover .progress-done-button {
    transform: scale(1);
}

.progress-bar:active .progress-done-button {
    transform: scale(1);
}

.progress-bar:hover {
    cursor: pointer; 
}

.disabled {
    opacity: 0.5;
}

.disabled .progress-done-button{
    cursor: auto;
    transform: translateX(-10000px);
}
.disabled .progress-bar {
    cursor: auto;
}